  <h1>VoGame</h1>
<br/><br/>
  <span>Counter: {{counter}} </span>
<br/><br/>
  <span>Definitions: </span>
  <br/><br/>
  <span *ngFor="let lr of definition.results">
    Part of speech: {{lr.part_of_speech}}
    <br/><br/>
    <span *ngFor="let s of lr.senses">
      <span *ngFor="let d of s.definition">
        <li>{{d}}</li>
      </span>
    </span>
    <br/>
  </span>
  <span>Word: <span class="hashedWord">{{word}}</span></span>
<br/><br/>
  <div>
    <span>Try:</span> <input type="text" word="inputField" [(ngModel)]="inputField" (keyup.enter)="send()" />
  </div>
